<h2> Let's update your booking ! </h2>

<div class="flex-container">

<%= simple_form_for [@bike, @rental] do |f| %>
  <%= f.input :start_date, as: :date  %>
  <%= f.input :end_date, as: :date  %>
  <%= f.submit %>
<% end %>
</div>
