<% if @bike.photo.attached? %>
  <%= cl_image_tag @bike.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<h2><%= @bike.category %></h2>
<p><%= @bike.description %></p>
<p><%= @bike.price %></p>

