.btn-round-corners {
    display: inline-block;
    background-color: white;
    border: #028090 2px solid;
    padding: 16px 36px;
    margin: 10px;
    border-radius: 50px;
    color: #028090;
}
.btn-round-corners p {
  font-size: 20px;
}

a.btn-round-corners {
  text-decoration: none;
  color: #028090;
}

#but {
  transition: transform .2s;
}

#but:hover {
  transform: scale(1.2);
}

input.btn-round-corners {
  display: flex;
  margin-left: 55px;
}
