.btn-round-corners {
    display: inline-block;
    background-color: white;
    border: #028090 2px solid;
    padding: 16px 36px;
    margin: 10px;
    border-radius: 50px;
    color: #028090;
}
.btn-round-corners p {
  font-size: 20px;
}
