.card-bike {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  height: 470px;
  transition: tranform .3s;
}

.how-to{
  padding: 5px;
  height: 300px;
  border-radius: 20px;
  border: #028090 2px solid;
  }

.dashboard{
  height: 250px;
  border: #028090 2px solid;
}


.card-bike > img {
  height: 258px;
  width: 100%;
  object-fit: cover;

}

.card-bike h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-top: 8px;
  // padding-left: 5px;

}

.card-bike h3 {
  font-size: 20px;

}

.card-bike p {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  // padding-left: 5px;
  opacity: .7;
}

.card-bike a{
  color: #028090;
  padding-top: 10px;
  font-size: 24px;

}


.card-bike .card-bike-infos {
  // padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: 5px;
}

.card-bike-infos .card-bike-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

