.flex-container{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  line-height: normal;
  background-color: white;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
