.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  line-height: normal;
  background-color: azure;
  // margin-left: 150px;
  // margin-right: 150px;
  width:  80%;
  margin: 30px auto;
  margin-top: 15px;
  margin-bottom: 6px;
  padding: 20px;
}

.f-direction-col {
  flex-direction: column;
}

.w-80 {
  width:80%;
}

.m-auto {
  margin: 0 auto;
}

.bg-azure {
  background: azure;
}

@media all and (max-width: 1000px) {
  .mobile-block {
    display: block !important;
  }
}

// .container{
//   display: flex;
//   vertical-align: middle;
//   line-height: normal;
//   margin-left: 100px;
//   margin-right: 100px;
//   margin-top: 10px;
//   margin-bottom: 10px;
// }

.container-infos a{
  color: #028090;
}


.container-title{
  color: white;
}

.container > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border: white 2px solid;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;

}

.flex-example {
  background: green;
  height: 400px;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
}

.flex-1 {
  background: red;
  height: 100px;
  width:40%;
  // align-self: flex-end;
  flex-grow: 1;
}

.flex-2 {
  background: blue;
  height: 100px;
  width:40%;
}
